/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
/* *, *::before, *::after {
  box-sizing: border-box;
} */

:root {
  --primary-color : #EA6D4A;
  --background-main : #343A40;
  --background-secondary : #F5F7FD;
}

* {
  margin: 0;
}
html, body {
  height: 100%;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  background: var(--background-secondary);
}
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
input, button, textarea, select {
  font: inherit;
}
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}
#root, #__next {
  isolation: isolate;
}

header {
  display: flex;
  gap: 1rem;
  align-items: center;
  background: var(--background-main);
  padding: 0 2rem;
}

.search-bar-container {
  display: flex;
}

.search-bar-container input {
  padding: 0.5rem 0.8rem;
  background: var(--background-secondary);
  border: 1px solid lightgray;
  border-radius: 10px 0px 0px 10px;
}

.search-bar-container input:focus {
  outline: 2px solid var(--primary-color);
}

.search-bar-container button {
  padding: 0.5rem 0.8rem;
  border: none;
  border-radius: 0px 10px 10px 0px;
  background: var(--primary-color);
  font-weight: 600;
  color: #fff;
}

/* switch button */
.toggle-button-cover {
  position: relative;
  width: 100px;
  height: 100px;
  margin-left: auto;
  box-sizing: border-box;
}

.button-cover {
  height: 100px;
  border-radius: 4px;
}

.button-cover,
.knobs,
.layer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.button {
  position: relative;
  top: 50%;
  width: 74px;
  height: 36px;
  margin: -20px auto 0 auto;
  overflow: hidden;
}

.button.r,
.button.r .layer {
  border-radius: 100px;
}

.button.b2 {
  border-radius: 2px;
}

.checkbox {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  opacity: 0;
  cursor: pointer;
  z-index: 3;
}

.knobs {
  z-index: 2;
}

.layer {
  width: 100%;
  background-color: #ebf7fc;
  transition: 0.3s ease all;
  z-index: 1;
}

/* Button 1 */
#button-1 .knobs:before {
  content: "Cº";
  position: absolute;
  top: 4px;
  left: 4px;
  width: 20px;
  height: 10px;
  color: #fff;
  font-size: 10px;
  font-weight: bold;
  text-align: center;
  line-height: 1;
  padding: 9px 4px;
  background-color: var(--primary-color);
  border-radius: 50%;
  transition: 0.3s cubic-bezier(0.18, 0.89, 0.35, 1.15) all;
}

#button-1 .checkbox:checked + .knobs:before {
  content: "Fº";
  left: 42px;
  background-color: var(--primary-color);
}

#button-1 .checkbox:checked ~ .layer {
  background-color: #fcebeb;
}

#button-1 .knobs,
#button-1 .knobs:before,
#button-1 .layer {
  transition: 0.3s ease all;
}